.mainContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/Background.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.changePasswordContainer {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 15%;
    left: 37%;
    height: 600px;
    width: 420px;
    border: 1px solid #379237;
    border-radius: 10px;
    background-color: #FEFAE0;
}

.changePasswordTitle {
    text-align: center;
    margin-top: 250px;
}

.oldPasswordDiv {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    padding-right: 30px;
}

.oldPasswordLabel {
    margin: 5px;
    width: 175px;
    text-align: right;
}

.oldPasswordInput {
    height: 20px;
    width: 150px;
    border-color: #28a745;
    border-top: none;
    border-inline: none;
    color: black;
    background-color: #FEFAE0;
    outline: none;
}

.newPasswordDiv {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row; 
    align-items: center;    
    justify-content: center;
    padding-right: 30px;
}

.newPasswordLabel {
    margin: 5px;
    width: 175px;
    text-align: right;
}

.newPasswordInput {
    height: 20px;
    width: 150px;
    border-color: #28a745;
    border-top: none;
    border-inline: none;
    color: black;
    background-color: #FEFAE0;
    outline: none;
}

.confirmPasswordDiv {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row; 
    align-items: center;    
    justify-content: center;
    padding-right: 30px;
}

.confirmPasswordLabel {
    margin: 5px;
    width: 175px;
    text-align: center;
}

.confirmPasswordInput {
    height: 20px;
    width: 150px;
    border-color: #28a745;
    border-top: none;
    border-inline: none;
    color: black;
    background-color: #FEFAE0;
    outline: none;
}

.changePasswordButton {
    text-align: center;
    margin-top: 10px;
    margin-left: 30%;
    background-color: #28a745;
    color: white;
}

.changePasswordButton:hover {
    background-color: hsl(134, 61%, 51%);
}

.logo{
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: auto;
    border-radius: 50%;
    background-color: #FEFAE0;
}

.errorMessage{
    color: red;
    margin-top: 15px;
    text-align: center;
}

h2 {
    margin-top: 125px;
}

.errorMessage{
    color: red;
    margin-top: 15px;
    text-align: center;
}

.successMessage{
    color: black;
    margin-top: 15px;
    text-align: center;
}