.bigContainer{
    height: 100vh;
    width: 100vw;
    background-image: url('../images/Background.jpg');
    background-size: cover; /* Adjusts image to cover the div fully */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents image from repeating */
}

.container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    height: 500px;
    width: 400px;
    border: 1px solid #379237;
    border-radius: 10px;
    background-color: #FEFAE0;
}

.logo {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 30%;
}

.header{
    text-align: center;
    font-size: medium;
    font-weight: lighter;
    text-decoration-color: #28a745;
    max-width: 270px;
    margin-top: 60%;
    margin-left: 15%;
}

.form {
    margin-top: 10%;
    margin-left: 25%;
}

.resetButton{
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin-left: 27px;
}

.resetButton:hover, resetButton:focus{
    background-color: hsl(134, 61%, 51%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

.input {
    background-color: #FEFAE0;
    border-inline: none;
    border-top: none;
    width: 200px;
    color: hsl(0, 0%, 0%);
    border-color: #28a745;
    outline: none;
    margin-bottom: 30px;
}