.backgroundContainer {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/Background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.loginContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 550px;
    width: 400px;
    border: 1px solid #379237;
    border-radius: 10px;
    background-color: #FEFAE0;
}

.imageButton{
    position: absolute;
    left: 90%;
    transform: translate(-10px, -60px);
    background-image: url("../images/GreenArrow.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    width: 45px;
    height: 45px;
    background-color: #FEFAE0;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
}

.imageButton:hover, imageButton:focus{
    background-color: initial;
    color: initial;
    border: none;
    box-shadow: none;
    cursor: cursor;
    opacity: 1;
    outline: none;
}

.logo{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.UIContainer {
    position: absolute;
    top: 50%;
    left: 20%;
}

.signUpContainer {
    position: absolute;
    top: 85%;
    margin-left: 17%;
}

.textContainer{
    background-color: #FEFAE0;
    border-inline: none;
    border-top: none;
    width: 250px;
    color: hsl(0, 0%, 0%);
    border-color: #28a745;
    outline: none;
}

.ForgetPassword{
    background-color: #FEFAE0;
    position: absolute;
    left: 17%;
    top: 70%;
    transform: translate(-50%, -50%);
    color: rgb(20, 131, 0);
    font-size: x-small;
    width: 150px;
    border: none;
    font-weight: 500;
}

.ForgetPassword:hover, ForgetPassword:focus{
    background-color: initial;
    color: hsl(111, 100%, 36%);
    border: none;
    box-shadow: none;
    cursor: cursor;
    opacity: 1;
    outline: none;
}

.SignUp{
    background-color: #FEFAE0;
    color: rgb(20, 131, 0);
    font-size: inherit;
    width: initial;
    border: none;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.SignUp:hover, ForgetPassword:focus{
    background-color: initial;
    color: hsl(111, 100%, 36%);
    border: none;
    box-shadow: none;
    cursor: cursor;
    opacity: 1;
    outline: none;
}

.errorMessage{
    color: red;
    margin-top: 15px;
    text-align: center;
}