.backgroundContainer {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/Background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.mainContainer{
    position: absolute;
    top: 12.5%;
    left: 36%;
    display: flex;
    align-items: center;
    border: 1px solid #379237;
    border-radius: 10px;
    background-color: #FEFAE0;
    height: 700px;
    width: 450px;
}
.resetPasswordContainer {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 25%;
    left: 40%;
    height: 100px;
    width: 300px;
}

.resetPasswordTitle{
    text-align: center;
}

.criteriaContainer{
    text-align: center;
    font-size: medium;
    font-weight: lighter;
    text-decoration-color: #28a745;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.newPasswordDiv {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: center;
}

.newPasswordLabel {
    margin: 5px;
    width: 125px;
    text-align: center;
}

.newPasswordInput {
    height: 20px;
    width: 175px;
    background-color: #FEFAE0;
    border: 2px solid #28a745;
    border-top: none;
    border-inline: none;
    color: black;
    outline: none;
}

.confirmPasswordDiv {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row; 
    align-items: center;   
    justify-content: center;
}

.confirmPasswordLabel {
    margin: 5px;
    width: 125px;
    text-align: center;
}

.confirmPasswordInput {
    height: 20px;
    width: 175px;
    background-color: #FEFAE0;
    border: 2px solid #28a745;
    border-top: none;
    border-inline: none;
    color: black;
    outline: none;
}

.logo{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: auto;
}

.resetPasswordButton {
    text-align: center;
    margin-top: 10px;
    margin-left: 35%;
    background-color: #28a745;
    color: white;
}

.errorMessage{
    text-align: center;
    font-size: small;
    font-weight: lighter;
    text-decoration-color: #28a745;
    max-width: 300px;
    color: red;
}