.backgroundContainer {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/Background.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.UIContainer{
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 0%);
    border: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    height: 600px;
    width: 380px;
    text-align: center;
    border: 1px solid #379237;
    background-color: #FEFAE0;
}
 
.textContainer{
    background-color: #FEFAE0;
    border-inline: none;
    border-top: none;
    width: 250px;
    color: hsl(0, 0%, 0%);
    border-color: #28a745;
    outline: none;
}

.logo{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.imageButton{
    position: absolute;
    left: 80%;
    transform: translate(-50%, -30%);
    background-image: url("../images/GreenArrow.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    width: 45px;
    height: 45px;
    background-color: #FEFAE0;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
}

.imageButton:hover, imageButton:focus{
    background-color: initial;
    color: initial;
    border: none;
    box-shadow: none;
    cursor: cursor;
    opacity: 1;
    outline: none;
}

.ForgetPassword{
    background-color: white;
    position: absolute;
    left: 75%;
    transform: translate(-50%, -50%);
    color: rgb(20, 131, 0);
    font-size: x-small;
    width: 100px;
    border: none;
    font-weight: 500;
}

.ForgetPassword:hover, ForgetPassword:focus{
    background-color: initial;
    color: hsl(111, 100%, 36%);
    border: none;
    box-shadow: none;
    cursor: cursor;
    opacity: 1;
    outline: none;
}

.signUpContainer{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.SignUp{
    background-color: white;
    color: rgb(20, 131, 0);
    font-size: inherit;
    width: initial;
    border: none;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.SignUp:hover, ForgetPassword:focus{
    background-color: initial;
    color: hsl(111, 100%, 36%);
    border: none;
    box-shadow: none;
    cursor: cursor;
    opacity: 1;
    outline: none;
}

.space {
    height: 30px
}

.errorMessage{
    color: red;
    margin-top: 15px;
}

.errorMessage2{
    color: red;
    margin-top: 10px;
}

.form {
    margin-top: 70%;
}