.backgroundContainer {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/Background.jpg');
    background-size: cover; /* Adjusts image to cover the div fully */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents image from repeating */
}


.container{
    position: absolute;
    top: 0%;
    display: flex; /* Use flexbox to arrange children side by side */
    height: 100%; /* Full height of the viewport */
    gap: 10px; /* Add space between the containers */
    flex-direction: row;
    left: 8%;
    width: 90%;
}

.searchResultsContainer{
    flex: 1; /* Equal space for search results */
    padding: 0px; /* Add padding */
    font-family: Arial, Helvetica, sans-serif;
    max-height: 95%; /* Ensure it doesn’t exceed the container height */
    overflow-y: auto; /* Allow scrolling if necessary */
    width: 100%;
}

.searchResultsContainer::-webkit-scrollbar{
    display: none;
}

.header{
    text-align: center;
}

.listContainer{
    list-style-type: none;
    padding: 50px;
    max-height: 700px;
    overflow-y: auto; 
    border: 1px solid #28a745;
    border-radius: 5px;
    margin-top: 165px;
    background-color: hsl(134, 61%, 61%);
}

.listContainer::-webkit-scrollbar{
    display: none;
}

.listItems{
    margin-bottom: 15px; 
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}

.nearbyCarparksButton{
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.favouritesButton{
	padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.mapContainer{
    flex: 1; /* Equal space for the map */
    max-height: 100%;
    margin-top: 100px;
    padding: 50px; /* Add padding */
    width: 500px;
}


.screenFlexContainer {
    display: flex;
}
.screenFlexChild {
    flex: 1;
}