
.searchContainer {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 20%;
    left: 41.5%;
}

.header {
    text-align: center;
    font-weight: bold; /* 'Bold' is not a valid value, should be 'bold' */
    border-radius: 5px;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #379237;
    padding: 5px;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 250px;
}

.filter > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.locationButton{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}

.cancelLocation{
    margin-left: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}

.input {
    width: 95%;
    background-color: white;
    margin-bottom: 2px;
    color: black;
    border-radius: 5px;
}


.logo {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

.searchButton {
    background-color: #008DDA;
    color: white;
    border: none;
    padding: 10px 15px;
    border: 5px;
    cursor: pointer;
    width: 100%;
    font: 16px;
}

.label{
    align-items: center;
}