.backgroundContainer {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/Background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.searchContainer {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 10%;
    left: 38%;
    height: 700px;
    width: 400px;
    border: 1px solid #379237;
    background-color: #FEFAE0;
    border-radius: 20px;
}

.header {
    text-align: center;
    font-weight: bold; 
    border-radius: 5px;
}

.filterOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #379237;
    padding: 5px;
    margin-top: 65%;
    margin-left: 16.5%;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 260px;
}

.filterTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #379237;
    padding: 5px;
    margin-top: 15px;
    margin-left: 16.5%;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 250px;
    padding: 10px;
}

.filterThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #379237;
    padding: 5px;
    margin-top: 15px;
    margin-left: 16.5%;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 250px;
    padding: 10px;
}

.filterFour {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #379237;
    padding: 5px;
    margin-top: 15px;
    margin-left: 16.5%;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 250px;
    padding: 10px;
}

.locationButton{
    background-color: #006BFF;
    color: white;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 155px;
}

.locationButton:hover {
    background-color: #08C2FF;
}

.cancelLocation{
    margin-left: 0px;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 155px;
    outline: none;
}

.cancelLocation:hover {
    background-color: #FE0000;
    outline: none;
}

.input {
    width: 95%;
    background-color: white;
    margin-bottom: 2px;
    color: black;
    border-radius: 5px;
    outline: none;
    text-align: center;
}


.logo {
    position: fixed;
    top: 25%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: auto;
    margin-bottom: 20px;
    align-items: center;
}

.searchButton {
    background-color: #006BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border: 5px;
    cursor: pointer;
    width: 68%;
    margin-left: 16%;
    margin-top: 5%;
    font: 16px;
}

.searchButton:hover {
    background-color: #08C2FF;
}

.label{
    align-items: center;
}