.page {
    padding-left: 150px;
}

.screen-flex-container {
    display: flex;
}
.screen-flex-child {
    flex: 1;
    border: 2px solid yellow;
}  
.screen-flex-child:first-child {
    margin-right: 20px;
} 